div.navigation li
{
	display: inline-block;
	font-size: 13px
	vertical-align: bottom;
	font-weight: bold;	
	padding: 15px 25px;
	
}
div
{
	display: block;
}
ul
{
	display: block;
}
div.navigation
{
	height: 50px;
	text-align: center;
	background-color: blue;
	
}
div.navigation li.img
{
	float: right;
}
a
{
	color: #222;
	text-decoration: none;


}

.about button:hover
{
	
}

.about button
{
	border-color: solid 5px black;
}

